.cards{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: left;
}

.details{
   
    margin-top: 5vmax;
}
.category{
    position: relative;
}
.productDetails{
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    right: 0;
    top: 0;
    width: 83.4%;
    background-color: whitesmoke;
    margin: auto;
    padding: 1vmax;
}
.productDetails::-webkit-scrollbar{
    width: 0;
}
.productDetails h1{
    margin: 1vmax 0.5vmax;
    color: #19105b;
}
.slider{
    margin-top: 3.65vmax;
}