.cart-main{
    background-color: #f1f3f6;
}
.productremove{
    padding: 0.5vmax 1vmax;
    font-size: 16px;
    color: white;
    border: none;
    background: none;
    outline: none;
    border-radius: 6px;
    transform: translateX(36.3vmax);
    cursor: pointer;
}
.cartprice{
    width: max-content;
    height: 64.54vh;
    overflow: hidden;
    overflow-y: scroll;
}
.cartprice::-webkit-scrollbar{
    width: 0;
}
.buttoncover{
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: #FF6196;
     */
     background-color: white;
     box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.13);
    text-align: end;
}
.orderbutton{
  margin: 0.5vmax;
    padding: 0.8vmax 1vmax;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    background-color: #19105b;
}
.cardpagetitle{
    margin: 0.5vmax 12.2vmax;
    width: 44%;
    padding: 0.5vmax 1vmax;
    color: #19105b;
    background-color: white;
}
.cartbox{
    display: flex;
    justify-content: space-evenly;
    padding: 0 7vmax;
}